#particles-js{
  background-color: #232741;
  position : absolute;
  width:100%;
  height:100%;
  z-index:-1;
  background-image: url('../imgs/logo.PNG');
  background-size: 5%;
  background-position: 50% 5%;
  background-repeat: no-repeat;
}
